.scrollDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 4s infinite;
  position: fixed;
  bottom: 10%;
  /* right: 50%; */
  width: 100%;
  z-index: 10;
}

.innerContainer {
  cursor: pointer;
}

.arrow {
  border: solid rgb(237, 237, 241);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 25px;
  -webkit-transform: rotate(45deg);
  z-index: 10;
  animation: fadeIn 3s infinite;
}

.arrow:hover {
  border: solid rgb(6, 6, 254);
  border-width: 0 3px 3px 0;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(25px);
  }
  60% {
    transform: translateY(5px);
  }
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 1;
    border: solid rgb(237, 237, 241);
    border-width: 0 3px 3px 0;
  }
  50% {
    opacity: 0.5;
    border: solid rgb(8, 8, 239);
    border-width: 0 3px 3px 0;
  }
}
